[submodule "Banco-de-Dados/bancosantander/microservice-transactions"]
	path = Banco-de-Dados/bancosantander/microservice-transactions
	url = https://github.com/Alan-Patrik/microservices-transactions.git
[submodule "Banco-de-Dados/bancosantander/microservice-transaction-receipt"]
	path = Banco-de-Dados/bancosantander/microservice-transaction-receipt
	url = https://github.com/Alan-Patrik/microservice-transactions-receipt.git
