[submodule "Banco-de-Dados/bancosantander/microservice-transaction-receipt"]
	path = Banco-de-Dados/bancosantander/microservice-transaction-receipt
	url = https://github.com/Alan-Patrik/microservice-transactions-receipt.git
[submodule "Banco-de-Dados/bancosantander/microservice-transaction"]
	path = Banco-de-Dados/bancosantander/microservice-transaction
	url = https://github.com/Alan-Patrik/microservice-transactions-receipt.git
